.directory-base {
  &__title {
    text-align: center;
  }
  &__desc {
    text-align: center;
    margin-bottom: 30px;
  }
  &__subnav {
    text-align: center;
    margin-bottom: 25px;
    a {
      cursor: pointer;
      display: inline-block;
      min-width: 36px;
      text-align: center;
      font-weight: 900;
      font-family: "Vollkorn", serif;
      font-size: 18px;
      background-color: #fff;
      padding: 3px;
      border-radius: 5px;
      text-decoration: none;
      margin-left: 1px;
      margin-right: 1px;
      margin-bottom: 5px;
      &:hover {
        text-decoration: none;
        background-color: $bark;
        color: $white;
      }
    }
  }
  &__content-area {
  }
  &__list-header {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: $white;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
  }
  &__organ-row {
    padding: 5px;
    margin-bottom: 3px;
    &--retired {
      border-radius: 5px;
      background-color: #727272;
      color: $white;
      a {
        color: $white;
        &:hover {
          color: $peach;
        }
      }
    }
    &--foreign {
      border-radius: 5px;
      background-color: #6274be;
      color: $white;
      a {
        color: $white;
        &:hover {
          color: $peach;
        }
      }
    }
  }
}
