.home-page {
  //margin: 20px;
  &__shop-blocks {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    background-color: $peach;
    margin-top: 30px;
  }
  &__featured-article {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  &__news-blocks {
    margin-top: 30px;
  }
  &__additional-blocks {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    background-color: $peach;
  }
}
