@import "_vars";

// Use flex to keep the footer at the bottom.
body,
[data-apos-refreshable],
.bp-wrapper {
  display: flex;
  flex-direction: column;
}

[data-apos-refreshable],
.bp-wrapper,
body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  background-color: $mahog;
  color: $slate;
  padding: 0px;
  border: 0px;
}
img {
  border-radius: 5px;
}

.pager {
  margin-top: 20px;
  > div {
    display: block;
    text-align: center;
    .is-active {
      text-decoration: none !important;
      background-color: $bark !important;
      color: $white !important;
      display: inline-block;
      min-width: 36px;
      text-align: center;
      font-weight: 900;
      font-family: "Vollkorn", serif;
      font-size: 18px;
      padding: 3px;
      border-radius: 5px;
      margin-left: 1px;
      margin-right: 1px;
      margin-bottom: 5px;
    }
    span {
      display: inline-block;

      a {
        cursor: pointer;
        display: inline-block;
        min-width: 36px;
        text-align: center;
        font-weight: 900;
        font-family: "Vollkorn", serif;
        font-size: 18px;
        background-color: #fff;
        padding: 3px;
        border-radius: 5px;
        text-decoration: none;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 5px;
        &:hover {
          text-decoration: none;
          background-color: $bark;
          color: $white;
        }
      }
    }
  }
}

.mm-index {
  margin-top: 15px;
  margin-bottom: 15px;

  &__login {
    display: block;
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 30px;
    right: 30px;
    height: 30px;
    text-align: right;
  }
  &__outer-body {
    background-color: $cream;
  }
  &__body {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  &__header {
    height: 400px;
    background-image: url("./../../../images/header.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    &--mod {
      height: 150px;
      background-image: url("./../../../images/header.png");
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &__logo {
    &--mod {
      height: 150px;
      width: 100%;
      background-image: url("./../../../images/mm-logo.png");
      background-size: auto 100%;
      background-position: center top;
      background-repeat: no-repeat;
      img {
        height: 100px;
        margin-top: 24px;
        transform: rotate(341deg);
        box-shadow: 6px 7px 11px 5px #43362b;
      }
    }
    img {
      display: none;
    }
    height: 400px;
    width: 100%;
    background-image: url("./../../../images/mm-logo.png");
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
  }
  &__nav {
    height: 70px;
    background-color: $bark;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: "Vollkorn", serif;
    color: $cream;
    padding-top: 0px;
    display: flex;
    align-items: center;
    ul {
      display: flex;
      flex-direction: row;
      padding-left: 0px;
      margin-bottom: 0px;
      justify-content: center;
      :last-child {
        border-right: 0px;
      }
      li {
        list-style: none;
        text-align: center;
        justify-content: center;
        border-right: 2px solid $cream;
        padding-left: 15px;
        padding-right: 15px;
        a {
          color: $white;
          text-decoration: none;
          &:hover {
            color: $peach;
            text-decoration: none;
            border-bottom: 2px solid $cream;
          }
        }
      }
    }
  }
  &__subnav {
    display: flex;
    align-items: center;
    background-color: $white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: "Vollkorn", serif;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    :last-child {
      border-right: 0px;
    }
    a {
      padding: 5px 10px;
      display: inline-block;
      color: $bark;
      text-decoration: none !important;
      background-color: $white;
      &:hover {
        color: $white !important;
        background-color: $bark;
        border-radius: 5px;
        text-decoration: none !important;
      }
    }
  }
  &__breadcrumbs {
    font-size: 12px;
    background-color: $white;
    padding: 5px;
    font-weight: 900;
    margin-bottom: 10px;
    border-radius: 5px;
    color: $black;
    ul {
      display: flex;
      flex-direction: row;
      padding-left: 0px;
      margin-bottom: 0px;
      justify-content: left;
      :last-child {
        border-right: 0px;
      }
      //padding-bottom: 10px;
      li {
        list-style: none;
        text-align: center;
        justify-content: center;
        //padding-left: 15px;
        padding-right: 5px;
        a {
          color: $bark;
          //border-bottom: 1px solid $bark;
          text-decoration: underline;
          &:hover {
            color: $slate;
            text-decoration: underline;
            //border-bottom: 1px solid $slate;
          }
        }
      }
    }
  }
  &__main {
    a {
      color: $bark;
      text-decoration: underline;
      &:hover {
        color: $slate;
        text-decoration: underline;
      }
    }
  }
  &__mini-footer {
    font-size: 12px;
    background-color: $white;
    font-weight: 900;
    padding: 5px 5px 10px;
    margin-top: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $black;
    ul {
      display: flex;
      flex-direction: row;
      padding-left: 0px;
      margin-bottom: 0px;
      justify-content: right;
      :last-child {
        border-right: 0px;
      }
      li {
        list-style: none;
        text-align: center;
        justify-content: center;
        padding-right: 5px;
        a {
          color: $bark;
          text-decoration: underline;
          &:hover {
            color: $slate;
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__footer {
    height: 300px;
    background-image: url("./../../../images/footer.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__footer-image {
    background-image: url("./../../../images/mm-logo.png");
    height: 290px;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__footer-content {
    color: $white;
    span {
      display: block;
      text-align: center;
      font-size: 18px;
      color: $white;
      font-family: "Raleway", sans-serif;
    }
    ul {
      margin-top: 95px;
      margin-bottom: 5px;
      justify-content: center;
      color: $white;
      font-size: 26px;
      font-weight: 600;
      font-family: "Vollkorn", serif;
      display: flex;
      padding-left: 0px;
      :last-child {
        border-right: 0px;
      }
      li {
        padding-left: 10px;
        padding-right: 10px;
        border-right: 2px solid $white;
        a {
          color: $white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        list-style: none;
      }
    }
  }
}

.home {
  background-color: $cream;
}
.queens-portal {
  background-color: $grey;
}
.publisher-book-note-portal {
  background-color: $rust;
}
.publisher-delivery-kvd-la-portal {
  background-color: $orange;
}
.notenkeller-portal {
  background-color: $sky;
}
.church-music-design-kmd-portal {
  background-color: $lime;
}
.shop-portal {
  background-color: $grass;
}
.selected-subnav-item {
  color: $white !important;
  background-color: $bark !important;
  border-radius: 5px !important;
  text-decoration: none !important;
}

table {
  width: 100% !important;
  background-color: $white !important;
  border-radius: 5px !important;
  tbody {
    border-radius: 5px !important;
  }
  tr,
  td,
  th {
    padding: 2px 10px;
    border-radius: 5px !important;
  }
}
