.search {
  &__min-bar {
    background-color: $white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    &--on-page {
      padding-bottom: 20px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    input {
      display: inline-block;
      width: calc(90% - 20px);
      outline: none;
      border: 0px;
      border-radius: 5px;
      background-color: $grey;
      font-size: 18px;
      font-weight: 900;
      color: $bark;
      padding-left: 8px;
    }
    button {
      width: 9.5%;
      display: inline-block;
      outline: none;
      border: 0px;
      background-color: $bark;
      border-radius: 5px;
      color: white;
      font-weight: 900;
      margin-left: 20px;
    }
  }
  &__title {
    display: block;
    text-align: center;
  }
  &__entries-list {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    h2 {
      display: block;
      text-align: center;
    }
    a {
      display: block;
      font-family: "Vollkorn", serif;
      font-size: 24px;
      color: $bark;
      font-weight: 900;
      padding: 10px;
      text-decoration: underline;
      &:hover {
        color: $slate;
        text-decoration: underline;
      }
    }
  }
  &__pager {
    > div {
      display: block;
      text-align: center;
      .is-active {
        text-decoration: none !important;
        background-color: $bark !important;
        color: $white !important;
        display: inline-block;
        min-width: 36px;
        text-align: center;
        font-weight: 900;
        font-family: "Vollkorn", serif;
        font-size: 18px;
        padding: 3px;
        border-radius: 5px;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 5px;
      }
      span {
        display: inline-block;

        a {
          cursor: pointer;
          display: inline-block;
          min-width: 36px;
          text-align: center;
          font-weight: 900;
          font-family: "Vollkorn", serif;
          font-size: 18px;
          background-color: #fff;
          padding: 3px;
          border-radius: 5px;
          text-decoration: none;
          margin-left: 1px;
          margin-right: 1px;
          margin-bottom: 5px;
          &:hover {
            text-decoration: none;
            background-color: $bark;
            color: $white;
          }
        }
      }
    }
  }
}
