$peach: #FFD0AB;
$cream: #FFEFDC;
$white: #FFF;
$grey: #f1f1f1;
$black: #000;
$slate: #151515;
$mahog: #27221E;
$bark: #43362B;
$rust: #efd6d6;
$orange: #ecdec9;
$sky: #d9d9f1;
$lime: #eaecd4;
$grass: #d6eed8;
