.bp-video-widget {
  width: 100%;
}

.bp-image-widget {
  max-width: 100%;
}

.custom-image-widget {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
}

.img-left {
  float: left;
}

.img-right {
  float: right;
}

.img-25 {
  width: 25%;
}

.img-33 {
  width: 33%;
}

.img-50 {
  width: 50%;
}

.img-66 {
  width: 66%;
}

.img-75 {
  width: 75%;
}

.img-100 {
  width: 100%;
}

.divider-widget {
  width: 100%;
  height: 2px;
  background-color: $bark;
  margin-bottom: 15px;
}
