{# Automatically extends the right outer layout and also handles AJAX siutations
#} {% extends data.outerLayout %} {% set title = [data.global.websiteTitle," -
",data.piece.title or data.page.title] | join %} {% block title %} {{ title }}
{% if not title %} {{ apos.log('Looks like you forgot to override the title
block in a template that does not have access to an Apostrophe page or piece.')
}} {% endif %} {% endblock %} {% block beforeMain %}

<div class="image-container"></div>
<div id="base" class="container-fluid mm-index">
  {% if not data.user %}
  <div class="mm-index__login">
    <a class="bp-button bp-header__login" href="/login">Login</a>
  </div>
  {% endif %}
  <div class="mm-index__outer-body">
    <div id="pageBase" class="mm-index__body">
      <header id="header" class="mm-index__header">
        <div class="container">
          <div id="logo" class="mm-index__logo"></div>
        </div>
      </header>
      <nav class="mm-index__nav">
        <div class="container">
          <ul>
            {% for item in data.global.mainNavLinks %}
            <li>
              <a href="{{ item._page[0]._url }}">{{ item.label }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
      <main class="mm-index__main">
        <div class="container">
          {% component '@apostrophecms/home-page:searchcomponent' %} {% endblock
          %} {% block main %} {% endblock %} {% block afterMain %} {% component
          '@apostrophecms/home-page:minifooter' %}
        </div>
      </main>
      <footer class="mm-index__footer">
        <div class="container">
          <div class="row">
            <div class="col-4 mm-index__footer-image"></div>
            <div class="col-8 mm-index__footer-content">
              <ul>
                {% for item in data.global.mediaLinks %}

                <li>
                  <a href="{{ item.url }}">{{ item.label }}</a>
                </li>
                {% endfor %}
              </ul>
              <span>{{ data.global.footerText }}</span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>

{# Close .bp-wrapper #} {% endblock %}
