{# modules/organdir-page/views/index.html #} {% extends "layout.html" %} {%
import '@apostrophecms/pager:macros.html' as pager with context %} {% block main
%} {% component '@apostrophecms/home-page:queensnavigation' %}
<div class="row directory-base">
  <div class="col-12 directory-base__title">
    <h1>{{data.page.title}}</h1>
  </div>
  <div class="col-12 directory-base__desc">
    <h2>{{ data.page.subtitle }}</h2>
  </div>
  <div class="col-12 directory-base__content-area">
    {% area data.page, 'main' %}
  </div>
  <div class="col-12">
    <div class="row directory-base__list-header">
      <div class="col-5">Name</div>
      <div class="col-4">Standort (wenn nicht in Deutschland)</div>
      <div class="col-3">Postleitzahl</div>
    </div>
    {% for organ in data.pieces %}
    <article
      class="row
      directory-base__organ-row
       {% if organ.isRetired %}
         directory-base__organ-row--retired
       {% endif %}
       {% if organ.outsideGermany %}
         directory-base__organ-row--foreign
       {% endif %}
"

    >
      <div class="col-5">
        <a href="{{ organ._url }}">{{ organ.title }}</a>
      </div>
      <div class="col-4">{{ organ.outsideGermany }}</div>
      <div class="col-3">{{ organ.postcode }}</div>
    </article>
    {% endfor %} {{ pager.render({ page: data.currentPage, total:
    data.totalPages, class: 'blog-pager' }, data.url) }}
  </div>
</div>

{% endblock %}
