{# This is an example home page template. It inherits and extends a layout
template that lives in the top-level views/ folder for convenience #} {% extends
"layout.html" %} {% block main %} {% component
'@apostrophecms/home-page:homepagenavigation' %}
<span id="home-page"></span>
<div class="home-page">
  <div class="row">
    <div class="col-12">
      <div class="home-page__shop-blocks">
        {% area data.page, 'shopBlocks' %}
      </div>
    </div>
    <div class="col-12">
      <div class="home-page__featured-article">
        {% area data.page, 'featuredArticle' %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <h3>Aktuelle Nachrichtenbeiträge</h3>
      {% component '@apostrophecms/home-page:queensheadlines' with { max: 5 } %}
    </div>
    <div class="col-6">
      <h3>Kürzlich hinzugefügt Orgeln</h3>
      {% component '@apostrophecms/home-page:organsheadlines' with { max: 5 } %}
    </div>
    <div class="col-6">
      <h3>Kürzlich hinzugefügte Musiker</h3>
      {% component '@apostrophecms/home-page:musicianheadlines' with { max: 5 }
      %}
    </div>
    <div class="col-6">
      <h3>Kürzlich hinzugefügte Publikationen</h3>
      {% component '@apostrophecms/home-page:publicationheadlines' with { max: 5
      } %}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="home-page__additional-blocks">
        {% area data.page, 'additionalBlocks' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
