{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% block main %}
<div class="row">
  <div class="col-4">
    <div class="col-8 mm-index__footer-content">

      {% for item in data.global.queensPortalLinks %}
      <li>
        <a href="{{ item._page[0]._url }}">{{ item.label }}</a>
      </li>
      {% endfor %}
    </div>
  </div>
  <div class="col-8">

  </div>
</div>
{% endblock %}
