{# modules/default-page/views/page.html #} {% extends "layout.html" %} {% block
main %} {% component '@apostrophecms/home-page:queensnavigation' %}

<div class="row directory-base">
  <div class="col-12 directory-base__title">
    <h1>{{ data.page.title }}</h1>
  </div>
  <div class="col-12 directory-base__desc">
    <h2>{{ data.page.subtitle }}</h2>
  </div>
  {% component '@apostrophecms/home-page:dirnav' with { selectedPageNav:
  'queensPortalChurchMusiciansLinks' } %}
  <div class="col-12 directory-base__content-area">
    {% area data.page, 'main' %}
  </div>
</div>

{% endblock %}
