{# modules/organdir-page/views/index.html #} {% extends "layout.html" %} {%
import '@apostrophecms/pager:macros.html' as pager with context %} {% block main
%} {% component '@apostrophecms/home-page:queensnavigation' %}
<div class="row directory-base">
  <div class="col-12 directory-base__title">
    <h1>{{data.page.title}}</h1>
  </div>
  <div class="col-12 directory-base__desc">
    <h2>{{ data.page.subtitle }}</h2>
  </div>
  <div class="col-12 directory-base__content-area">
    {% area data.page, 'main' %}
  </div>
  <div class="col-12">
    <div class="row directory-base__list-header">
      <div class="col-8">Name</div>
      <div class="col-4">Webseite</div>
    </div>
    {% for musician in data.pieces %}


    <article
            class="row directory-base__organ-row"
    >
      <div class="col-8">
        <strong>
          <a href="./../../../../{{ musician._parentUrl }}/{{ musician.slug }}">
            {{ musician.title }}
          </a>
        </strong>
      </div>
      <div class="col-4">
        {% if musician.externalUrl %}
        <a href="{{ musician.externalUrl }}">Webseite -></a>
        {% endif %}
      </div>
    </article>
    {% endfor %}
    <div class="row">
      <div class="col-12 pager">
        {{ pager.render({ page: data.currentPage, total:
        data.totalPages }, data.url) }}
      </div>
    </div>

  </div>
</div>

{% endblock %}
